body {
  font-family: sans-serif;
}

#messages {
  height: 500px;
  overflow-y: scroll;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

#message-input {
  width: 70%;
  padding: 5px;
  font-size: 16px;
}
#name-input {
  width: 70%;
  padding: 5px;
  font-size: 16px;
}
button[type="submit"] {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.h1test{

    color: black;

}


header{

display: flex;
justify-content: space-around;
align-items: center;



}

li{
  display: inline-block;
list-style: none;
text-decoration: none;

}
